<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modal header</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
<app-breadcrumb [items]="['ADMIN.SETTINGS']"></app-breadcrumb>



<!--
<div class="container-fluid">
  <div class="row">
    <button mat-raised-button color="primary" (click)="open(content)" placement="bottom"
      ngbTooltip="Open modal">Primary</button>
  </div>
  <div class="row" *ngIf="closeResult">
    <pre>{{closeResult}}</pre>
  </div>
  <div class="row">
    <button mat-raised-button color="primary">{{ 'GENERAL.SAVE' | translate }}</button>
  </div>
</div>
-->