.page-title {
  padding: 20px 0 20px 15px;
  font-size: 20px;
  font-weight: 300;
  background-color: #039be5;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.content-container {
  margin: 10px;
}

.toolbar {
  max-width: 970px;
  margin: 0 auto 3px auto;
  background-color: #f8f9fa;
  padding: 0 20px;
  border-radius: 4px 4px;
}

.search-container {
  width: 100%;
  max-width: 450px;
}

.search-btn {
  margin-left: 10px;
}

::ng-deep .mat-menu-panel {
  margin-top: 5px;
  margin-right: -5px;
}

.menu-title {
  text-align: center;
  font-weight: 300;
  padding: 0 0 5px 0;
}

.columns-list-container {
  height: 100%;
  max-height: 240px;
  overflow-y: auto;
}

::ng-deep .mat-list-item .mat-list-item-content .mat-list-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}

.mat-list-item-disabled {
  background-color: #fff;
  color: gray !important;
}

.mat-list-item-disabled:hover {
  background-color: #fff;
}

.close-btn-container {
  margin-top: 7px;
}

.cmf-mat-btn.mat-flat-button {
  background-color: #006fba;
  color: #fff;
}

.paginated-table-container {
  border-radius: 4px;
}

.paginated-table-container,
.table-container,
.paginator-container {
  max-width: 970px;
  overflow-x: auto;
  margin: auto;
}

.req-id-cell {
  min-width: 130px;
  max-width: 130px;
}

.state-cell {
  min-width: 100px;
  max-width: 100px;
}

.expiration-date-cell {
  min-width: 160px;
  max-width: 160px;
}

.total-cell {
  min-width: 130px;
  max-width: 130px;
}

.pf-rate-cell {
  min-width: 80px;
  max-width: 80px;
}

.ftd-id-cell {
  min-width: 130px;
  max-width: 130px;
}

.applicant-name-cell {
  min-width: 320px;
  max-width: 320px;
}

.applicant-name {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.pf-req-rate-cell {
  min-width: 130px;
  max-width: 130px;
}

.cuil-cuit-cell {
  min-width: 120px;
  max-width: 120px;
}

.email-cell {
  min-width: 250px;
  max-width: 250px;
}

.email {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.debin-cell {
  min-width: 120px;
  max-width: 120px;
}

.debin-state-cell {
  min-width: 120px;
  max-width: 120px;
}

.credin-cell {
  min-width: 120px;
  max-width: 120px;
}

.credin-state-cell {
  min-width: 120px;
  max-width: 120px;
}

.req-date-cell {
  min-width: 170px;
  max-width: 170px;
}

@media (max-width: 450px) {
  .actions-container {
    margin-top: 10px;
  }
}