.page-title {
  padding: 15px 0 15px 0;
  font-size: 20px;
  font-weight: 300;
  background-color: #039be5;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.content-container {
  margin: 10px;
}

.toolbar {
  max-width: 1270px;
  margin: 0 auto 10px auto;
  background-color: #f8f8f8;
  padding: 0 10px;
  border-radius: 4px 4px;
}

.search-container {
  width: 100%;
  max-width: 600px;
}

.search-btn {
  margin-left: 10px;
}

::ng-deep .mat-menu-panel {
  margin-top: 5px;
  margin-right: -5px;
}

.menu-title {
  text-align: center;
  font-weight: 300;
  padding: 0 0 5px 0;
}

.columns-list-container {
  height: 100%;
  max-height: 240px;
  overflow-y: auto;
}

::ng-deep .mat-list-item .mat-list-item-content .mat-list-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}

.mat-list-item-disabled {
  background-color: #fff;
  color: gray !important;
}

.mat-list-item-disabled:hover {
  background-color: #fff;
}

.close-btn-container {
  margin-top: 7px;
}

.cmf-mat-btn.mat-flat-button {
  background-color: #006fba;
  color: #fff;
}

.filters-container {
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  margin: 10px 0;
  padding: 5px;
}

::ng-deep .mat-chip {
  font-size: 13px;
  font-weight: 400;
  border-radius: 4px !important;
  color: #2d323c !important;
}

.paginated-table-container {
  border-radius: 4px;
}

.table-container {
  height: 552px;
}

.paginated-table-container,
.table-container,
.paginator-container {
  max-width: 1270px;
  overflow-x: auto;
  margin: auto;
}

::ng-deep .mat-paginator-container {
  background-color: #f8f8f8;
}

.req-id-cell {
  min-width: 130px;
  max-width: 130px;
}

.state-cell {
  min-width: 100px;
  max-width: 100px;
}

.expiration-date-cell {
  min-width: 160px;
  max-width: 160px;
}

.total-cell {
  min-width: 130px;
  max-width: 130px;
}

.pf-rate-cell {
  min-width: 80px;
  max-width: 80px;
}

.ftd-id-cell {
  min-width: 130px;
  max-width: 130px;
}

.applicant-name-cell {
  min-width: 320px;
  max-width: 320px;
}

.applicant-name {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.pf-req-rate-cell {
  min-width: 130px;
  max-width: 130px;
}

.cuil-cuit-cell {
  min-width: 120px;
  max-width: 120px;
}

.email-cell {
  min-width: 250px;
  max-width: 250px;
}

.email {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.debin-cell {
  min-width: 120px;
  max-width: 120px;
}

.debin-state-cell {
  min-width: 120px;
  max-width: 120px;
}

.credin-cell {
  min-width: 120px;
  max-width: 120px;
}

.credin-state-cell {
  min-width: 120px;
  max-width: 120px;
}

.req-date-cell {
  min-width: 170px;
  max-width: 170px;
}

.actions-cell {
  min-width: 220px;
  max-width: 220px;
}

.mat-table-sticky:last-child {
  background-color: #f8f8f8;
}

.action-btn {
  font-size: 20px;
  background-color: #039be5;
  border-radius: 4px;
  color: #fff;
  width: 30px;
  padding: 0 5px;
}

.file-icon {
  padding: 0 8px;
}

.action-btn:hover {
  cursor: pointer;
}

.action-btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(2px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

@media (max-width: 600px) {
  .actions-container {
    margin-top: 10px;
  }
}