.fto-breadcrumb {
  width: 100%;
  color: #fff;
  background-color: #039be5;
  height: 30px;
  font-size: 14px;
}

.home {
  font-size: 14px;
  margin: 10px 3px 10px 15px;
}

.arrow {
  margin-left: 5px;
}

.fto-breadcrumb-item {
  margin-left: 5px;
}

.last-item {
  font-weight: 400;
}