<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar id="menu-header">
      <div class="header-logo-container">
        <img src="assets/img/cmf-logo.png" class="logo">
      </div>
    </mat-toolbar>
    <div class="app-name">
      <span>Plazo Fijo Web</span>
    </div>
    <mat-nav-list>
      <app-user-card></app-user-card>
      <app-menu-items></app-menu-items>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="content-toolbar" color="primary" class="mat-elevation-z2">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/img/cmf-blue-logo.png" *ngIf="!(drawer.opened)" class="logo">
      <span class="toolbar-spacer"></span>
      <mat-icon class="toolbar-icon" (click)="logout()">power_settings_new</mat-icon>
    </mat-toolbar>
    <div class="sidenav-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>