<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar id="menu-header">
      <div class="header-logo-container">
        <img src="assets/img/cmf-logo.png" class="logo">
      </div>
    </mat-toolbar>
    <div class="app-name">
      <span>PLAZO FIJO WEB</span>
    </div>
    <mat-nav-list>
      <app-user-card></app-user-card>
      <app-menu-items></app-menu-items>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="content-toolbar" color="primary" class="mat-elevation-z2">
      <div class="d-flex align-items-center w-100"
        [ngClass]="{ 'justify-content-between': !(drawer.opened), 'justify-content-end': drawer.opened }">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="(isHandset$ | async) && !(drawer.opened)">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <img src="assets/img/cmf-blue-logo.png" *ngIf="!(drawer.opened)" class="logo">
        <button type="button" mat-icon-button (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="sidenav-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>