<div class="container-fluid">
  <div class="row">
    <mat-form-field>
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
  </div>
  <div class="row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
  </div>
  <div class="row">
    <button mat-raised-button color="accent">{{ 'GENERAL.SAVE' | translate }}</button>
  </div>
</div>