.user-data {
  width: 100%;
  color: #fff;
  background-color: #1e2129;
  padding-top: 20px;
  padding-bottom: 30px;
}

.full-name {
  font-size: 18px;
  font-weight: 300;
}

.rol {
  font-size: 14px;
  font-weight: 300;
}

.avatar {
  bottom: 25px;
  margin-bottom: -20px;
  position: relative;
  border: solid 5px #2d323c;
  border-radius: 50%;
}