//
// form controls: select 
//
.cdk-global-overlay-wrapper {
  z-index: 99999 !important;
}

.cdk-overlay-container {
  z-index: 99999 !important;
}

//
// buttons & indicators: button
//
.cmf-mat-btn.mat-button,
.cmf-mat-btn.mat-raised-button,
.cmf-mat-btn.mat-flat-button,
.cmf-mat-btn.mat-fab,
.cmf-mat-btn.mat-mini-fab {
  background-color: #039be5;
  color: #fff;
}